---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import AnimatedImage from "../components/AnimatedImage.astro";
---

<Layout title="Haru Blue | Artist Portfolio">
  <main class="mx-auto max-h-svh grid justify-center overflow-hidden">
    <img
      src="/images/haru-concepts-2.jfif"
      alt="Some Concept Art Drawings"
	  class="object-fill max-h-svh p-4"
      style="view-transition-name: imagetransition;"
    />
  </main>
</Layout>
