---
import Layout from "../layouts/Layout.astro";
import AnimatedImage from "../components/AnimatedImage.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import EasterEgg from "../components/EasterEgg.astro";
---

<Layout title="Haru Blue | Artist Portfolio">
  <Header />
  <main class="mx-auto p-4 md:px-8 max-w-7xl">
    <div
      class="grid grid-cols-1 md:grid-cols-6 lg:grid-cols-12 lg:grid-rows-[repeat(4,_260px)] gap-4 md:gap-6"
    >
      <!-- Featured large artwork -->
      <div class="md:col-span-6 lg:col-span-8 row-span-2">
        <AnimatedImage
          src="./images/haru-concepts-2.jfif"
          alt="Some Concept Art Drawings"
          className="object-fit"
        />
      </div>

      <!-- Vertical artwork -->
      <div class="md:col-span-3 lg:col-span-4 row-span-2">
        <AnimatedImage
          src="./images/haru-character-1.jfif"
          alt="Character Commision for a D&D Campaign"
          className="object-cover p-2 pt-4 bg-white"
        />
      </div>

      <!-- Bust -->
      <div class="md:col-span-3 lg:col-span-4 row-span-2">
        <AnimatedImage
          src="./images/haru-bust-1.jfif"
          alt="Bust Commision for a TTRPG Character"
          className="object-cover"
        />
      </div>

      <!-- Concept art -->
      <div class="md:col-span-6 lg:col-span-8 row-span-2">
        <AnimatedImage
          src="./images/haru-prog-1.jfif"
          alt="Concept art of Taeko (OC)"
          className="object-cover"
        />
      </div>
    </div>
  </main>

  <Footer />
</Layout>
