---
---

<header
  class="text-center mt-16 mb-12 min-h-32 flex flex-col lg:flex-row justify-center items-center gap-x-12 gap-y-6"
>
  <div>
    <img
      src="./images/haru-avatar.jfif"
      class="size-48 rounded-full border-4 border-blue-300 shadow transition-all duration-500 hover:shadow-xl hover:scale-105 hover:saturate-150"
    />
  </div>
  <div>
    <h1
      class="text-5xl md:text-6xl font-bold mb-4 bg-gradient-to-br from-blue-700 to-purple-600 text-transparent bg-clip-text"
    >
      Haru Blue
    </h1>
    <p class="text-sm md:text-lg text-gray-600 max-w-2xl mx-auto px-4 italic">
      This is where I share my digital art and illustrations.
    </p>
    <p class="text-sm md:text-lg text-gray-600 max-w-2xl mx-auto px-4 italic">
      I hope you enjoy them!
    </p>
  </div>
</header>
